<%layout("./layouts/boilerplate.ejs")%>
<body>
    <br><br>
<div class="row">
<div class="col-8 offset-2">
    <h3>Enter your new listing</h3><br>

    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" class="form-control" placeholder="enter title" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a valid title.</div>
    </div>
    
    <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="file" name="listing[image]" class="form-control">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea type="text" name="listing[description]" class="form-control" placeholder="describe your listing" required></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a valid description.</div>
    </div>


    <div class="row">
    <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" class="form-control" placeholder="enter price" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a valid price.</div>
    </div>
    <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input type="text" name="listing[country]" class="form-control" placeholder="enter country" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a valid Country.</div>
    </div>
    </div>



    <div class="mb-3 ">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" class="form-control" placeholder="enter location" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a valid location.</div>
    </div>
    <br>
    <div class="mb-3">
        <button class="btn btn-dark">submit</button>
    </div>
    </form>
</div>
</div>
<br><br>
</body>
