<%layout("./layouts/boilerplate.ejs")%>

<div class="row">
    <div class="col-8 offset-2">
        <br>
        <h1>Login for Wanderlust</h1>
        <br>
        <form action="/login" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="enter your username" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide a valid username.</div>
            </div>
            
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="text" name="password" class="form-control" id="password" placeholder="enter your password" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please enter correct password </div>
            </div>
            <button class="btn btn-dark">Login</button>
        </form>
    </div>
</div>

